[user]
  name = kodam
  email = hotsoup.h@gmail.com
[core]
  excludesfile = $HOME/.gitignore_global
  editor = /usr/bin/vim
[color]
  ui = true
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[alias]
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(bold blue)%cn %Cred%d %Creset%s'
  l = log --graph
  st = status
  co = checkout
  cm = commit
  br = branch
  df = diff --word-diff
